@(userIdStr: String)
<!DOCTYPE html>
<html lang="en">
<head>
   @PageFiles.headrf()
<title> Add Inventory</title>

</head>
<body>


@navbar(userIdStr)


@flashM()
<form name = "NewInventory" action="@routes.Inventory.addInv()" method="post">
    SKU: <input type="text" name="SKU" id="SKU" required="required" > <br><br>
    Product_Name: <input type="text" name="Product_Name" id="Product_Name" required="required"><br><br>
    Condition: <input type="text" name="Condition" id="Condition" required="required"><br><br>
    <select size="1" name="Category" id="Category">
    <option> Select the category</option>
    <option value="Electronics"> Electronics </option>
    <option value="Apparel"> Apparel </option>
    <option value="Sports and Fitness"> Sports and Fitness </option>
    </select><br>
    Desc: <input type="text" name="Desc" id="Desc"> <br>
    Quantity": <input type="text" name="Quantity"" id="Quantity"" required="required"> <br>

    <input type="submit" value="Add Item!">
    <input type="reset"  value="Reset Form">
</form>

</body>
</html>