@(usrStrId: String)

<!DOCTYPE html>
<html lang="en">
<head>
    @PageFiles.headrf()
    <title> Login Page</title>

</head>
<body class="body">
<div id="wrapper">
@navbar(usrStrId)
<div class=""marginc">
<form role="form" action="@routes.Account.login()" method="post" class="marginc">

    <div class="form-group">
      <label for="user">Email:</label>
      <input type="email" name="email" id="email" placeholder="Enter Email">
    </div>
    <div class="form-group">
      <label for="password"> Password: </label>
      <input type="password" name="password" id="password" placeholder="Enter Password">

    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
<br>

<a href="@routes.home.getHome()">Go back to home</a> <br>
<a href="@routes.ManagerAcc.getMLogin()"> Im a Manager </a>
</div>
</body>
</html>