@(usrStrId: String)

<!DOCTYPE html>
<html lang="en">
<head>
    @PageFiles.headrf()
    <title> Secret Manager Registration</title>
</head>

<body>
@navbar(usrStrId)

<h2> New Manager Registration Page</h2>
@flashM()
<form name = "NewMananger" action="@routes.ManagerAcc.addMan()" method="post">
     E-mail: <input type="email" name="email" id="email" required="required" > <br><br>
     Password: <input type="password" name="password" id="password" required="required"><br><br>
     First Name: <input type="text"  name="first_name"  id="first_name"> <br>
     Last Name: <input type="text" name="last_name" id="last_name"> <br>
     User Name: <input type="text" name="username" id="username" required="required"> <br>
     Code:      <input type="password" name="code"  id="code" required="required"> <br>

<input type="submit" value="Sign me up!">
<input type="reset"  value="Reset Form">
</form>
<a href="@routes.home.getHome()">Go back to home</a>

</body>
</html>