@(usrStrId: String)

<!DOCTYPE html>
<html lang="en">
<head>
    @PageFiles.headrf()
    <title> Manager Login</title>

</head>

<body class="wrapper">

@navbar(usrStrId)

@flashM()
<form role="form" action="@routes.ManagerAcc.login()" method="post" id="marginc">

    <div class="form-group">
      <label for="user">Email:</label>
      <input type="email" name="email" id="email" placeholder="Enter Email">
    </div>
    <div class="form-group">
      <label for="password">Password </label>
      <input type="password" name="password" id="password" placeholder="Enter Password">
    </div>
    <div class="form-group">
        <label for="code"> Manager Code: </label>
        <input type="password" name="code" id="code" placeholder="Enter Code">
        </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

<a href="@routes.home.getHome()">Go back to home</a>

</body>
</html>