@(usrIdStr: String)  <!-- @(session.get("user_id")) @(session.get("Man_id"))-->

@logo()

@if(session.get("user_id") != null){
Hello: @usrIdStr
<ul class="nav nav-tabs">
    <li class="active">
        <a href="#" class="text-center"> Manage Your Inventory </a>
    </li>
    <li><a href="@routes.home.getHome()">BarCode</a></li>
  <!--  <li> routes.toolsub.displayToolSub --> <!-- page to see items go here -->
    <li><a href="@routes.UserPage.getUserPage()":>Account</a></li>
    <li><a href="@routes.Account.logout()">Logout</a></li>
    <li><a href="@routes.Inventory.getInvPage()"> Inventory </a></li>
    <li><a href="#">About</a></li>

</ul>
} @if(session.get("Man_id") !=null){
Hello: @usrIdStr
<ul class="nav nav-tabs">
    <li class="active">
        <a href="#" class="text-center"> Manage Your Inventory </a>
    </li>
    <li><a href="@routes.home.getHome()">BarCode</a></li>
    <li><a href="@routes.ManagerAcc.getManMain()":>Account</a></li>
    <li><a href="@routes.Account.logout()">Logout</a></li>
    <li><a href="@routes.Inventory.getInvPage()"> Inventory </a></li>
    <li><a href="#">About</a></li>

</ul>
} else {

<ul class="nav nav-tabs">
    <li class="active">
        <a href="#" class="text-center"> Manage Your Inventory </a>
    </li>
    <li><a href="@routes.home.getHome()">BarCode</a></li>
    <li><a href="@routes.Account.getLoginPage()">Login</a></li>
    <li><a href="#">About</a></li>

</ul>
}