@(usrIdStr: String, the_product: Product)

<!DOCTYPE html>
<html lang="en">
<head>
    @PageFiles.headrf()
    <title> Product Page</title>

</head>

<body>

@navbar(usrIdStr)

<h1 class="text-center">@the_product.Product_Name</h1>

<p>Product Description: @the_product.ProductDesc</p>
<p>Product SKU: @the_product.SKU </p>
<ul>
    <li>
        Condition: @the_product.Condition
    </li>
    <li>
        Quantity: @the_product.Availability
       </li>
</ul>

<a href="@routes.Inventory.updateInvPage(the_product.Id)">  Update This</a>

</body>
</html>
